@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IranSans;
  src: url("../src/assets/fonts/IRANSansWeb\(FaNum\)_Medium.woff");
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: IRANSans;
  color: black;

  direction: rtl;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
body {
  min-width: 480px;
  margin: 0;
  display: flex;
  place-items: center;
  /* min-height: 100vh; */
}
